<?xml version="1.0"?>
<connectionStrings>
  
  <remove name="server"/>
  <add name="server" connectionString="Data Source=SO_DataServer;
      Initial Catalog=startups;
      Persist Security Info=False;
      User Id=DataImportWebServices;
      Password=Test;
      MultipleActiveResultSets=False;
      Packet Size=4096;
      Application Name=&quot;StackExchangeDataDumpImporter&quot;" 
      providerName="System.Data.SqlClient"/>


  <remove name="COR-W81-101"/>
  <add name="COR-W81-101" connectionString="Data Source=COR-W81-101;Initial Catalog=startups;Persist Security Info=False;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;StackExchangeDataImporter&quot;" providerName="System.Data.SqlClient"/>


  <remove name="localhost"/>
  <add name="localhost" connectionString="HOST=127.0.0.1;PORT=5432;DATABASE=stackexchange;USER ID=stackexchangeimporter;PASSWORD=123;TIMEOUT=15;POOLING=True;MINPOOLSIZE=1;MAXPOOLSIZE=20;COMMANDTIMEOUT=20;COMPATIBLE=2.2.0.0;" providerName="Npgsql"/>
  
  
  <!--
  <add name="COR-W81-101" connectionString="Data Source=COR-W81-101;Initial Catalog=startups;Persist Security Info=False;User Id=DataImportWebServices;Password=Test;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;StackExchangeDataImporter&quot;" providerName="System.Data.SqlClient"/>
  -->
  
  <remove name="WEBSRV1"/>
  <add name="WEBSRV1" connectionString="Data Source=WEBSRV1;Initial Catalog=startups;Persist Security Info=False;User Id=DataImportWebServices;Password=test;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;StackExchangeDataImporter&quot;" providerName="System.Data.SqlClient"/>
  
</connectionStrings>
